@media (max-width: 1200px){ /* 993px - 1200px */
    .hero-img {
        top: 174px;
        width: 790px;
    }
    .hero-title{
        font-size: 85px;
    }
}

@media (max-width: 992px) {  /* 768px - 992px */
    .container {
        max-width: 750px;
    }
    .hero-content{
        padding: 150px 0;
    }
    .hero-title {
        font-size: 68px;
        line-height: 103px;
    }
    .hero{
        height: 560px;
    }
    .hero-img {
        top: 174px;
        width: 445px;
    }
    .popular{
        padding: 0 0 90px;
    }
    .subscription .section-title {
        margin-top: 15px;
    }
}
.dog-care .btn {
    margin-top: 15px;
}

.contact-container {
    padding: 102px 30px;
}

.contact-btn {
    font-size: 16px;
    height: 60px;
}

.contact-form input {
    height: 60px;
}

.footer-right-side {
    min-width: 250px;
}

.footer-left-side {
    min-width: 250px;
}

.footer-email {
    display: block;
}

.footer-email a {
    margin-left: 0;
}

.footer-link {
    font-size: 15px;
}

.footer-title {
    font-size: 24px;
}
@media (max-width: 768px) {  /* 481 px - 768px */
    .container {
        max-width: 540px;
    }
    .hero{
        height: 500px;
    }
    .hero-content{
        padding: 66px 0;
    }
    .hero-img {
        display: none;
    }
    .quality-box{
        margin-top:15px;
    }
    .menu {
        display: none;
    }

    .hero {
        text-align: center;
    }

    .hero-title {
        font-size: 50px;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 25px;
    }

    .col-6 {
        width: 100%;
    }

    .quality {
        padding: 13px 0;
    }
    .subscription{
        padding: 0 0 65px;
    }

    .popular .section-title {
        font-size: 30.25px;
    }

    .product-title {
        font-size: 22px;
    }

    .dog-care {
        text-align: center;
    }

    .dog-care .section-title {
        font-size: 28.25px;
    }

    .dog-care img {
        height: 395px;
    }
    .contact-container .row {
        flex-direction: column;
    }

    .contact-container {
        padding: 85px 15px;
    }

    .contact-container:before {
        transform: rotate(0deg);
    }

    .col-6 {
        width: 100%;
    }

    .contact-box {
        margin-bottom: 20px;
    }

    .contact-title {
        font-size: 27px;
    }

    .contact-desc {
        font-size: 15px;
    }

    .contact-form input {
        width: 300px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }

    .footer-social {
        display: flex;
        order: 2;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-right-side {
        text-align: left;
    }
}
@media (max-width: 480px) {  /* 320px -  480px */
    .hero-title {
        font-size: 45px;
        line-height: 90px;
    }
    .hero{
        height: 410px;
    }
    .hero-content .btn-fill {
        font-size: 13px;
        padding: 12px 26px;
    }
    .hero-content .btn{
        padding: 12px 26px;
    }
    .quality-title{
        font-size: 22px;
    }
    .quality-desc{
        font-size: 15px;
    }
    .popular{
        padding: 0 0 7px;
    }
    .popular .section-title{
        font-size: 26.25px;
    }
    .dog-care .section-title{
        font-size: 25.25px;
    }
    .dog-care .btn-fill{
        font-size: 14px;
        padding: 12px 26px;
    }
    .dog-care .btn{
        padding: 12px 26px;
        font-size: 15px;
    }
    .dog-care img{
        height: 386px;
    }
    .subscription .section-title{
        font-size: 26.26px;
    }
    .gallery .section-title{
        font-size: 26.25px;
        line-height: 43px;
        text-align: center;
    }
    .svg-icon svg{
        width: 15px;
    }
    .contact-title {
        font-size: 23.25px;
    }

    .contact-desc {
        font-size: 14px;
    }

    .contact-btn {
        font-size: 15px;
        height: 50px;
    }

    .contact-form input {
        width: 186px;
        height: 50px;
    }

    .contact-container .row .col-6 {
        display: unset;
        justify-content: unset;
        text-align: unset;
    }
    .logo span{
        font-size: 17px;
    }
}